	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">&nbsp;</li>
            <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
            <li><a href="#"><i class="icon-eject"></i> Empire</a></li>
            <li><a href="#"><i class="icon-align-right"></i> Resources</a></li>
            <li><a href="#"><i class="icon-tasks"></i> Builds</a></li>               
            <li><a href="#"><i class="icon-shopping-cart"></i> Mercante</a></li>
            <li><a href="#"><i class="icon-random"></i> Techs</a></li>
            <li><a href="#"><i class="icon-th-large"></i> Hangar</a></li>
            <li><a href="#"><i class="icon-plane"></i> Fleets</a></li>
            <li><a href="#"><i class="icon-leaf"></i> Tree</a></li>
            <li><a href="@routes.Rights.validate("player","galaxy","show")""><i class="icon-globe"></i> Galaxy</a></li>
            <li><a href="#"><i class="icon-certificate"></i> Defense</a></li>
            <li class="nav-header">&nbsp;</li>
            <li><a href="#"><i class="icon-flag"></i> Alleance</a></li>
            <li><a href="#"><i class="icon-list-alt"></i> Forum</a></li>
            <li><a href="#"><i class="icon-user"></i> Officiers</a></li>
            <li><a href="#"><i class="icon-resize-small"></i> Statistic</a></li>
            <li><a href="#"><i class="icon-search"></i> Search</a></li>
            <li class="nav-header">&nbsp;</li>
            <li><a href="#"><i class="icon-envelope"></i> Messages</a></li>
            <li><a href="#"><i class="icon-file"></i> Note</a></li>
            <li><a href="#"><i class="icon-heart"></i> Friends</a></li>
            <li><a href="#"><i class="icon-wrench"></i> Settings</a></li>
            <li><a href="@routes.Rights.validate("player","chat","show")""><i class="icon-globe"></i> Chat</a></li>
            <li><a href="#"><i class="icon-off"></i> Logout</a></li>
		</ul>
	</div>