<div class="navbar-inner">
	<div class="container-fluid">
		<button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="brand" href="#">Project name</a>
		<div class="nav-collapse collapse">
			<p class="navbar-text pull-right">Logged in as<a class="navbar-link" href="#">Username</a></p>
			<ul class="nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div>
	</div>
</div>