<div class="hero-unit">
	<h1>{{text}}</h1>
	<p>This hogan.js template is compiled on server side,then retrived with ajax and rendered on client side</p>
	<p><a class="btn btn-primary btn-large" href="#">Learn more »</a></p>
</div>