@(loginForm: Form[Login])

@import helper._
@import helper.twitterBootstrap._

@main("") {
        
        @helper.form(routes.Authentication.authenticate) {
            
            <h1>Sign in</h1>
            
            @if(loginForm.hasGlobalErrors) {
                <p class="error">
                    @loginForm.globalError.message
                </p>
            }
            
            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
            @inputText(
                loginForm("name"),
                '_label -> "name",
                '_help -> "Please choose a valid username.",
                '_error -> loginForm.globalError
            )
            
            @inputText(
                loginForm("password"), 
                '_label -> "password",
                '_help -> "Enter a valid password."
            )
            
            
                <button type="submit" class = "btn">Login</button>
            
        }
}
    


