@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
    	<meta charset="utf-8"> 
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">
        <script async src="@routes.Assets.at("js/jquery-1.9.0.min.js")"></script>
        <script async src="@routes.Assets.at("js/bootstrap.min.js")"></script>
    </head>
    <body>
    	<div class="container">
        	@content
        </div>
    </body>
</html>
